<header>
  <% if current_user %>
    <div class="container">
      <nav>
        <div class="dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <%= current_user.full_name %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><%= link_to "Profile", user_path(current_user) %></li>
            <li role="presentation"><%= link_to "Sign Out", signout_path, method: :delete %></li>
          </ul>
        </div>
      </nav>
    </div>
  <% end %>
</header>
