<header>
  <% if signed_in? %>
    <div class="container">
      <nav>
        <div class="pull-right">
          <%= link_to 'New', new_article_path %> |
          <%= link_to "Articles", articles_path %> |
          <%= link_to "Profile", user_path(current_user) %> |
          <%= link_to "Signout", signout_path, method: :delete %>
        </div>
      </nav>
    </div>
  <% end %>
</header>
